<div class="reservations-container">
    <!-- Debug info -->
    <ng-container *ngIf="houses().length === 0 || houseAvailabilities().length === 0">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
    </ng-container>

    <ng-container *ngIf="houses().length > 0 && houseAvailabilities().length > 0">
        <div class="card">
            <table class="reservations-table">
                <thead>
                    <tr>
                        <th></th>
                        @for (day of days(); track dayIndex; let dayIndex = $index) {
                        <th [ngClass]="getColumnClasses(day)">
                            <ng-container *ngIf="isToday(day)">
                                <div class="today-label">TODAY</div>
                            </ng-container>
                            {{day | date:'d.M'}}
                        </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <cdk-virtual-scroll-viewport
                        [itemSize]="itemSize"
                        [minBufferPx]="itemSize * bufferSize"
                        [maxBufferPx]="itemSize * bufferSize * 2"
                        class="virtual-scroll-viewport">
                        <tr *cdkVirtualFor="let house of houses(); let houseIndex = index; trackBy: trackByHouse">
                            <td>{{house.house_name || 'House ' + house.house_number}}</td>
                            @for (day of days(); track dayIndex; let dayIndex = $index) { @let cellData = gridMatrix()[houseIndex][dayIndex];
                            <td
                                [ngClass]="getCellClasses(cellData)"
                                [class.highlight-column]="isColumnHighlighted(dayIndex)"
                                [style.background-color]="cellData.color"
                                [class]="cellData.identifier"
                                [pTooltip]="cellData.tooltip"
                                [tooltipDisabled]="!cellData.isReserved"
                                tooltipPosition="top"
                                [tooltipStyleClass]="'reservation-tooltip'"
                                (mouseenter)="highlightColumn(dayIndex)"
                                (mouseleave)="highlightColumn(null)"
                            >
                                {{ cellData.displayText }}
                            </td>
                            }
                        </tr>
                    </cdk-virtual-scroll-viewport>
                </tbody>
            </table>
        </div>
    </ng-container>
</div>
