<div class="reservations-container">
    <ng-container *ngIf="houses().length > 0 && houseAvailabilities().length > 0">
        <div class="card">
            <table class="reservations-table">
                <thead>
                    <tr>
                        <th></th>
                        @for (day of days(); track dayIndex; let dayIndex = $index) {
                        <th [ngClass]="getColumnClasses(day)">
                            <ng-container *ngIf="isToday(day)">
                                <div class="today-label">TODAY</div>
                            </ng-container>
                            {{day | date:'d.M'}}
                        </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (house of houses(); track houseIndex; let houseIndex = $index) {
                    <tr>
                        <td>{{house.house_name || 'House ' + house.house_number}}</td>
                        @for (day of days(); track dayIndex; let dayIndex = $index) { @let cellData = gridMatrix()[houseIndex][dayIndex];
                        <td
                            [ngClass]="getCellClasses(cellData)"
                            [style.background-color]="cellData.color"
                            [class]="cellData.identifier"
                            [pTooltip]="cellData.tooltip"
                            [tooltipDisabled]="!cellData.isReserved"
                            tooltipPosition="top"
                            [tooltipStyleClass]="'reservation-tooltip'"
                            (click)="onCellClick(houseIndex, dayIndex)"
                            [style.cursor]="cellData.isReserved ? 'default' : 'pointer'"
                        >
                            {{ cellData.displayText }}
                        </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </ng-container>
    
    <!-- Reservation Form Component -->
    <app-reservation-form 
        [visible]="showReservationForm()" 
        (visibleChange)="showReservationForm.set($event)"
        [reservation]="newReservation()"
        [houseId]="selectedHouseId()"
        [startDate]="selectedStartDate()"
        [endDate]="selectedEndDate()"
        (save)="handleSaveReservation($event)"
        (cancel)="handleCancelReservation()"
    ></app-reservation-form>
</div>