<p-dialog [(visible)]="visible" [modal]="true" [style]="{width: '700px'}" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h3>
            {{ reservation.house_availability_id ? 
                reservation.house_id && reservation.house_id < 0 ? 
                ('RESERVATIONS.MODAL.EDIT-TEMP-RESERVATION' | translate) : 
                ('RESERVATIONS.MODAL.EDIT-RESERVATION' | translate) : 
                reservation.house_id && reservation.house_id > 0 ? 
                    ('RESERVATIONS.MODAL.CREATE-RESERVATION' | translate) : 
                    ('RESERVATIONS.MODAL.CREATE-TEMP-RESERVATION' | translate)
            }}
        </h3>
    </ng-template>
    <div class="p-fluid">
        <!-- Two-column layout -->
        <div class="form-grid">
            <!-- Left column -->
            <div class="form-col">
                <div class="field">
                    <label for="lastName">{{ 'RESERVATIONS.MODAL.LAST-NAME' | translate }}</label>
                    <input id="lastName" type="text" pInputText [(ngModel)]="reservation.last_name" />
                </div>
                <div class="field">
                    <label for="reservationNumber">{{ 'RESERVATIONS.MODAL.RESERVATION-NUMBER' | translate }}</label>
                    <input id="reservationNumber" type="text" pInputText [(ngModel)]="reservation.reservation_number" />
                </div>
                <div class="field">
                    <div class="pets-row">
                        <div class="half-field">
                            <label for="defaultPets">{{ 'RESERVATIONS.MODAL.PETS' | translate }}</label>
                            <p-inputNumber class="small-input" id="defaultPets" [(ngModel)]="reservation.dogs_d" [min]="0" [max]="10"></p-inputNumber>
                        </div>
                        <div class="half-field">
                            <label for="smallPets">{{ 'RESERVATIONS.MODAL.CHECK-IN' | translate }}</label>
                            <p-datepicker [(ngModel)]="reservation.arrival_time" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="arrivalTime">
                                <ng-template #inputicon let-clickCallBack="clickCallBack">
                                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-datepicker>

                        </div>
                        <div class="half-field">
                            <label for="bigPets">{{ 'RESERVATIONS.MODAL.CHECK-OUT' | translate }}</label>
                            <p-datepicker [(ngModel)]="reservation.departure_time" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="departureTime">
                                <ng-template #inputicon let-clickCallBack="clickCallBack">
                                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                                </ng-template>
                            </p-datepicker>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="startDate">{{ 'RESERVATIONS.MODAL.START-DATE' | translate }}</label>
                    <p-datePicker  
                        id="startDate" 
                        [(ngModel)]="startDate" 
                        [readonlyInput]="true" 
                        dateFormat="dd.mm.yy"
                        [minDate]="minStartDate" 
                        [maxDate]="maxDate" 
                        [showIcon]="true"
                        [placeholder]="'RESERVATIONS.MODAL.SELECT-START-DATE' | translate" 
                        (onSelect)="onStartDateChange()"
                        appendTo="body"
                    >
                    </p-datePicker>
                </div>
            </div>
            
            <!-- Right column -->
            <div class="form-col">
                <div class="field">
                    <label for="adults">{{ 'RESERVATIONS.MODAL.ADULTS' | translate }}</label>
                    <p-inputNumber id="adults" [(ngModel)]="reservation.adults" [min]="0" [max]="10"></p-inputNumber>
                </div>
                <div class="field">
                    <div class="babies-cribs-row">
                        <div class="half-field">
                            <label for="babies">{{ 'RESERVATIONS.MODAL.BABIES' | translate }}</label>
                            <p-inputNumber class="small-input" id="babies" [(ngModel)]="reservation.babies" [min]="0" [max]="10"></p-inputNumber>
                        </div>
                        <div class="half-field">
                            <label for="cribs">{{ 'RESERVATIONS.MODAL.BABY-CRIBS' | translate }}</label>
                            <p-inputNumber class="small-input" id="cribs" [(ngModel)]="reservation.cribs" [min]="0" [max]="10"></p-inputNumber>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="colors">{{ 'RESERVATIONS.MODAL.COLOR' | translate }}</label>
                    <p-select 
                        [options]="colors" 
                        [(ngModel)]="selectedColor"
                        [ngStyle]="{ 'width': '210px'}"
                        [panelStyle]="{ 'max-height': '200px' }"
                        [placeholder]="'RESERVATIONS.MODAL.SELECT-A-COLOR' | translate"
                        appendTo="body"
                    >
                        <ng-template let-option pTemplate="item">
                            <div class="color-item" [style.background]="option"></div>
                        </ng-template>
                        <ng-template let-selectedOption pTemplate="selectedItem">
                            <div class="color-item" [style.background]="selectedOption"></div>
                        </ng-template>
                    </p-select>
                </div>
                <div class="field">
                    <label for="endDate">{{ 'RESERVATIONS.MODAL.END-DATE' | translate }}</label>
                    <p-datePicker  
                        id="endDate" 
                        [(ngModel)]="endDate" 
                        [readonlyInput]="true" 
                        dateFormat="dd.mm.yy"
                        [minDate]="minEndDate" 
                        [maxDate]="maxDate" 
                        [showIcon]="true"
                        [placeholder]="'RESERVATIONS.MODAL.SELECT-END-DATE' | translate" 
                        (onSelect)="checkForDateConflicts()"
                        appendTo="body"
                    >
                    </p-datePicker>
                </div>
            </div>
        </div>

        <!-- Full width notes field -->
        <div class="field mt-3">
            <label for="notes">{{ 'RESERVATIONS.MODAL.NOTES' | translate }}</label>
            <textarea 
                id="notes" 
                rows="4" 
                class="p-inputtext"
                pTextarea  
                [(ngModel)]="notes" 
                [placeholder]="'RESERVATIONS.MODAL.NOTES-ENTER-INFO' | translate">
            </textarea>
        </div>
        
        @if(dateConflictError){
            <div class="field">
                <div class="p-error">{{dateConflictError}}</div>
            </div>
        }
    </div>
    <ng-template pTemplate="footer">
        <div class="form-footer">
            <div class="left-buttons">
                @if(isEditMode){
                    <p-button
                        [label]="'BUTTONS.DELETE' | translate"
                        icon="pi pi-trash" 
                        (click)="onDelete()" 
                        styleClass="p-button-danger p-button-text">
                    </p-button>
                }
            </div>
            <div class="right-buttons">
                <p-button [label]="'BUTTONS.CANCEL' | translate" icon="pi pi-times" (click)="onCancel()" styleClass="p-button-text"></p-button>
                <p-button [label]="'BUTTONS.SAVE' | translate" icon="pi pi-check" (click)="onSave()" [disabled]="!!dateConflictError" styleClass="p-button-text"></p-button>
            </div>
        </div>
    </ng-template>
</p-dialog> 